a{
  text-decoration: none;
  color: inherit;
}

.App {
  padding: 5%;
  text-align: center;
  background-color: #282c34;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}